@model Narail.Models.Feedback
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>İletişim</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    İletişim
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
    </div><!-- /.container -->
</div>
<section class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h2>Bize Yazın</h2>
                </div>

                @using (Html.BeginForm("Message", "Contact", FormMethod.Post))
                {


        <div class="form-group">

            <div class="row clearfix">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="from-group">
                        @Html.TextBox("NameSurname", null, new { placeholder = "Ad Soyad", @class = "form-control", @maxlength = "100", @required = "reguired" })
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="from-group">
                            @Html.TextBox("Email", null, new { placeholder = "E-Mail", @class = "form-control", @maxlength = "50", @required = "reguired" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">

                        @Html.TextBox("Phone", null, new { placeholder = "Telefon", @class = "form-control", @maxlength = "20", @required = "reguired" })

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">

                        @Html.TextBox("Subject", null, new { placeholder = "Konu", @class = "form-control", @maxlength = "50", @required = "reguired" })

                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextArea("Message", null, new { placeholder = "Mesajınız", @class = "form-control", @maxlength = "500", @required = "reguired" })
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                        <button class="btn-style-one" type="submit" data-loading-text="Please wait...">Mesajı Gönder</button>
                    </div>
                </div>

            </div>

        </div>}
            </div>

            @Html.Action("ContactInformation", "Contact")
        </div>
    </div>
</section>


